$title_color: #000514;
$link_color: #a9085e;

$title_size: 22px;
$view_more_size: 16px;

$arrow_padding: 12px;
$cell_padding: 12px;

$right_arrow_rotate: rotate(-45deg);
$left_arrow_rotate: rotate(135deg);

.carousel {
  .arrow {
    border: solid #57617a;
    border-width: 0 2px 2px 0;
    display: inline-block;
    height: 10px;
    padding: 5px;
    transform: $right_arrow_rotate;
    vertical-align: middle;
    width: 10px;
  }
}
