$title_color: #000514;
$link_color: #a9085e;

$title_size: 16px;

$arrow_padding: 12px;
$cell_padding: 12px;

.carousel {
  .arrow {
    border: solid #57617a;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
    transform: rotate(-45deg);
  }
}
