$title_color: #000514;
$author_color: #57617a;

$title_size: 16px;
$author_size: 14px;

$image_width: 149px;
$image_height: 198px;

.document-cell {
    &__image {
        margin: 0 12px 0 0;
        width: 200;
    }
}
